name: Build

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: go.mod
          cache: false
      - name: Install systray dependencies
        uses: awalsh128/cache-apt-pkgs-action@4c82c3ccdc1344ee11e9775dbdbdf43aa8a5614e # v1.5.1
        with:
          packages: gcc libgtk-3-dev libayatana-appindicator3-dev
          version: amd64
      - name: Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0

  test:
    name: Test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: go.mod
      - name: Install systray dependencies
        uses: awalsh128/cache-apt-pkgs-action@4c82c3ccdc1344ee11e9775dbdbdf43aa8a5614e # v1.5.1
        with:
          packages: gcc libgtk-3-dev libayatana-appindicator3-dev
          version: amd64
      - name: Test
        env:
          TZ: America/Chicago
        run: go test ./...

  build-linux:
    name: Build (linux-${{ matrix.platform }})
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - platform: amd64
            runs-on: ubuntu-24.04
          - platform: arm64
            runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: go.mod
      - name: Install systray dependencies
        uses: awalsh128/cache-apt-pkgs-action@4c82c3ccdc1344ee11e9775dbdbdf43aa8a5614e # v1.5.1
        with:
          packages: gcc libgtk-3-dev libayatana-appindicator3-dev
          version: ${{ matrix.platform }}
      - name: Build
        env:
          VERSION: ${{ github.ref_name }}
        run: go build -ldflags="-w -s -X main.version=$VERSION" -trimpath -o dist/nightscout-menu-bar
      - name: Compress
        run: tar -czvf nightscout-menu-bar_linux_${{ matrix.platform }}.tar.gz -C dist .
      - name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: nightscout-menu-bar_linux_${{ matrix.platform }}
          path: nightscout-menu-bar_linux_${{ matrix.platform }}.tar.gz

  build-windows:
    name: Build (windows)
    runs-on: windows-2025
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: go.mod
      - name: Build
        shell: bash
        env:
          VERSION: ${{ github.ref_name }}
        run: ./hack/build-windows.sh
      - name: Compress
        working-directory: dist
        shell: powershell
        run: Compress-Archive -Path * -Destination ../nightscout-menu-bar_windows_amd64.zip
      - name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: nightscout-menu-bar_windows_amd64
          path: nightscout-menu-bar_windows_amd64.zip

  build-darwin:
    name: Build (darwin)
    runs-on: macos-14
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: go.mod
      - name: Build
        env:
          VERSION: ${{ github.ref_name }}
        run: ./hack/build-darwin.sh
      - name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: nightscout-menu-bar_darwin
          path: dist/nightscout-menu-bar_darwin.tar.gz
      - name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: nightscout-menu-bar_cask
          path: dist/nightscout-menu-bar.rb

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    needs: [lint, test, build-windows, build-darwin, build-linux]
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: nightscout-menu-bar_*
          path: dist
          merge-multiple: true
      - name: Generate Changelog
        id: changelog
        uses: gabe565/changelog-generator@733bb2c02fab0bb0e2dd9a059e0dc9f668d05c95 # v1.1.5
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          body: ${{ steps.changelog.outputs.changelog }}
          files: |
            dist/nightscout-menu-bar_*

  update-homebrew-tap:
    name: Update Homebrew Tap
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/')
    needs: [release]
    permissions:
      contents: read
    env:
      commit_name: gabe565-goreleaser[bot]
      commit_email: 159411820+gabe565-goreleaser[bot]@users.noreply.github.com
    steps:
      - name: Generate Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          repositories: homebrew-tap
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: gabe565/homebrew-tap
          token: ${{ steps.app-token.outputs.token }}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: nightscout-menu-bar_cask
          path: Casks
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: Brew formula update for nightscout-menu-bar version ${{ github.ref_name }}
          commit_user_name: ${{ env.commit_name }}
          commit_user_email: ${{ env.commit_email }}
          commit_author: ${{ env.commit_name }} <${{ env.commit_email }}>
